.section-services{
    width: 100%;
    min-height: auto;
    padding-bottom: 50px;
    display: flex;
    background: var(--white);
}

.bg{
    width: 100%;
    min-height: 300px;
    display: flex;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--services-background);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.bg-section{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 80px;
    gap: 25px;
    justify-content: center;
}

.bg-section h2{
    font-family: var(--montserrat);
    font-size: 40px;
    font-weight: 580;
    display: flex;
    position: relative;
}

.bg-section h2::after{
    content: '';
    bottom: -8px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 10px;
    width: 70%;
    height: 4px;
    background: var(--blue);
    position: absolute;
}

.bg-section p{
    color: rgba(255, 255, 255, 0.9);
    max-width: 700px;
    font-family: var(--montserrat);
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
    text-align: center;
    font-size: 1rem;
}

.bg-section button{
    background: var(--button-blue);
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-family: var(--montserrat);
    padding: 16px 30px;
    transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
}

.bg-section button:hover{
    background: var(--button-blue-hover);
}









.section-content{
    width: 100%;
    min-height: 40vh;
    display: flex;
    background: var(--white);
    flex-direction: column;
}


.banner-2{
    width: 100%;
    min-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--contact-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-2 h2{
    font-size: 40px;
    color: white;
    font-family: var(--montserrat);
    display: flex;
    position: relative;
}

.banner-2 h2::after{
    content: '';
    bottom: -8px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 10px;
    width: 70%;
    height: 4px;
    background: var(--blue);
    position: absolute;
}


.area{
    width: 100%;
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
}

.area-cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head-t p{
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--nunito);
    font-weight: 550;
}


.head-t h3{
    color: black;
    display: flex;
    align-items: center;
    font-weight: 550;
    left: 6%;
    position: relative;
}

.head-t h3::after{
    content: '';
    position: absolute;
    width: 5%;
    height: 3px;
    border-radius: 10px;
    background: var(--blue);
    left: -6%;
}

.content-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-info a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
    display: flex;
    color: black;
}

.content-info svg{
    color: var(--blue);
}

.text-1{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.text-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-if{
    padding-left: 100px;
}

.trs{
    width: 600px;
    height: 400px;
}

@media (max-width: 991px) {
    .area-cont{
        flex-direction: column;
        padding-left:10px;
        gap: 50px;
    }


    .text-content p{
        max-width: 600px;
    }

    .area{
        padding-left: 10px;
        display: flex;
        align-items: center;
        padding-right: 10px;
    }

    .location-if{
        padding-left: 0px;
    }

    .trs{
        width: 100%;
        max-width: 600px;
        height: 400px;
    }

}